<div class="controls-container">
  <div class="top-controls">
    <mat-button-toggle-group
      [value]="isPencilMode() ? 'pencil' : 'pen'"
      (change)="togglePencilMode()">
      <mat-button-toggle value="pen">
        <mat-icon>edit</mat-icon>
        Pen
      </mat-button-toggle>
      <mat-button-toggle value="pencil">
        <mat-icon>create</mat-icon>
        Pencil
      </mat-button-toggle>
    </mat-button-toggle-group>

    <div class="game-controls">
      <mat-form-field appearance="outline">
        <mat-label>Difficulty</mat-label>
        <mat-select
          [value]="difficulty()"
          (selectionChange)="onDifficultyChange($event.value)">
          <mat-option value="easy">Easy</mat-option>
          <mat-option value="medium">Medium</mat-option>
          <mat-option value="hard">Hard</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="onNewGame()">
        <mat-icon>refresh</mat-icon>
        New Game
      </button>
    </div>
  </div>

  @if (isGameComplete()) {
    <div class="completion-message">
      <mat-icon>celebration</mat-icon>
      Congratulations! You completed the puzzle!
    </div>
  }

  <div class="number-pad">
    @for (num of [1, 2, 3, 4, 5, 6, 7, 8, 9]; track num) {
      <button
        mat-raised-button
        class="number-button"
        [disabled]="!selectedCell()"
        (click)="onNumberClick(num)">
        {{ num }}
      </button>
    }
  </div>

  <div class="action-buttons">
    <button
      mat-raised-button
      color="warn"
      [disabled]="!selectedCell()"
      (click)="onClearCell()">
      <mat-icon>backspace</mat-icon>
      Clear
    </button>
  </div>
</div>

