@use '@angular/material' as mat;

@include mat.core();

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$violet-palette,
    ),
  )
);
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$violet-palette,
    ),
  )
);

html {
  @include mat.all-component-themes($light-theme);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

html.dark-mode {
  @include mat.all-component-colors($dark-theme);

  body {
    background-color: #121212;
    color: #e0e0e0;
  }
}
